<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EInvoicesWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EInvoicesWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\KirmashTax.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <userSettings>
    <EInvoicesWpf.Properties.Settings>
      <setting name="run_app" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="path_3torg" serializeAs="String">
        <value />
      </setting>
      <setting name="path_60chet" serializeAs="String">
        <value />
      </setting>
      <setting name="path_esf" serializeAs="String">
        <value />
      </setting>
    </EInvoicesWpf.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <EInvoicesWpf.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>0001</value>
      </setting>
      <setting name="sql_request_3torg" serializeAs="String">
        <value />
      </setting>
      <setting name="sql_request_60chet" serializeAs="String">
        <value />
      </setting>
      <setting name="sql_request_esf" serializeAs="String">
        <value />
      </setting>
      <setting name="path_bat_sos" serializeAs="String">
        <value>C:\Program Files (x86)\Avest\AvPCM_nces\get_crl.bat</value>
      </setting>
      <setting name="path_bat_esf" serializeAs="String">
        <value>bin\receive2Dir.bat</value>
      </setting>
      <setting name="path_bat_sing" serializeAs="String">
        <value>bin\signAndUploadRecvDir.bat</value>
      </setting>
    </EInvoicesWpf.Properties.Settings>
  </applicationSettings>  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SQLite"  type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>